*.c text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.cc text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.cpp text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.cxx text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.h text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.hpp text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.inl text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.glsl text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.glsli text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.nwb text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.cmake text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
CMakeLists.txt text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.vcxitems text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
*.vcxproj text eol=crlf whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof

3rd_parties/** -text whitespace=blank-at-eol,space-before-tab,cr-at-eol,-blank-at-eof
